.download-container
  background: #00b05d;
  background: linear-gradient(45deg, #162A72 0%, #1E659C 40%, #1FA7AB 100%);
  background: -moz-linear-gradient(45deg, #162A72 0%, #1E659C 40%, #1FA7AB 100%);
  background: -webkit-linear-gradient(45deg, #162A72 0%, #1E659C 40%, #1FA7AB 100%);
  
.download-row
  height 100vh  
  font-family Proxima Nova
  .centered-div
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color #FFF
    text-align center
    font-size 1.3em
  button
    background-color #58BF95
    border none
    border-radius 5px
    padding 10px