<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container-fluid faq-fluid">
  <div class="row faq-nav">
    
  </div>
  <div class="faq-container">
    <section>
      <h1>Frequently Asked Questions</h1>
    </section>
    <div ng-repeat='question in questions' ng-click="itemClicked($index)" class="toggle">
      <div class="toggle-title" ng-class="{ 'faq-active': indicies[$index] == true }">
        <h3>
        <i></i>
        <span class="title-name">{{ question.q }}</span>
        </h3>
      </div>
      <div class="toggle-inner" ng-show='indicies[$index]'>
        <p>{{ question.a }}</p>
      </div>
    </div>
  </div>
  <div class="row pricing-page-text">
    <div class="button-green-landing pricing-page-top-btn">
      <a href="/"><button>Back Home</button></a>          
    </div>
  </div>
</div>